#navbar ul{
	display: block;
	float: left;
	height: 50px;
	width: 800px;
	margin: 0; 
	margin-right: auto;
	margin-left: auto;
	padding: 7px 6px 0; 
	line-height: 100%; 
	font: normal 14px Arial, Helvetica, sans-serif; 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px; 
}

#navbar li {
	margin-left: 5px;
	margin-right: 5px;
	float: left; 
	position: center;
	list-style: none;
}

#navbar li a {
	font-weight: bold; 
	color: black; 
	text-decoration: none; 
	display: block;
	padding:  10px 20px;
	margin: 0;
	border-width: 2px;
	border-style: solid;
	border-color: #bcbcbc;
	border-radius: 5px; 
	background-color: #127b7c;
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px;
	text-align: center;
	vertical-align: center;
	text-shadow: 1px 1px rgba(255,255,255, .1), -1px -1px rgba(255,255,255, .1);
	box-shadow: inset 5px 5px 10px rgba(0,0,0,0.9),
				inset -5px -5px 10px rgba(0,0,0,0.9);
}

#navbar a:hover { /*button hover*/
background-color: #38a8a9; 
color: white;
}

#navbar .active a, #navbar li:hover > a {
background-color: #38a8a9;
color: white;
text-shadow: 1px 1px rgba(0,0,0, .9);
-webkit-box-shadow: 0 1px 1px rgba(0,0,0, .2); 
-moz-box-shadow: 0 1px 1px rgba(0,0,0, .2); 
box-shadow: inset 5px 5px 10px rgba(0,0,0,0.9),
			inset -5px -5px 10px rgba(0,0,0,0.9); 
}